<!DOCTYPE html>
<html>
    <head>
        <title>My Reading List</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui menu fixed inverted">
            <div class="ui container">
                <a class="item header" href="/"><i class="icon book"></i>MyReadingList</a>
                <% if (currentUser) { %>
                
                    
                    <a class="item <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>" href="/<%= currentUser.username %>/books">Home</a>
                    <a class="item <%= typeof page !== 'undefined' && page === 'new' ? 'active' : '' %>" href="/<%= currentUser.username %>/new">Add New</a>
                <% } %>
                <a class="item <%= typeof page !== 'undefined' && page === 'members' ? 'active' : '' %>" href="/members">Members</a>
                
                <div class="right menu">
                    <% if (!currentUser) { %>
                        <a class="item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login">Login</a>
                        <a class="item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">Register</a>
                    <% } else {%>
                        <a class="item" href="/<%= currentUser.username %>/profile">
                            <img class="ui rounded mini image" src="<%= currentUser.avatar %>">
                            
                        </a>
                        <a class="item" href="/logout">Logout</a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="ui container flash">
            <% if (error && error.length > 0) { %>
                <div class="ui negative message"><%= error %></div>
            <% } %>
            <% if (success && success.length > 0) { %>
                <div class="ui positive message"><%= success %></div>
            <% } %>
        </div>
        