<% include ./partials/header.ejs %>

<div class="ui segment container main">
    <div class="ui items">
        <div class="item">
            <div class="image">
                <img class="ui image rounded" src="<%=list.image%>">
            </div>
            
            <div class="content">
                <div class="header"><%=list.title%></div>
                
                <div class="meta">
                    <span><%=list.author%></span>
                </div>
                
                <div class="description">
                    <p id="rating">Rating:</p>
                    <div class="ui rating mini heart" data-rating="<%=list.rating%>" data-max-rating="5"></div>
                    <br>
                </div>
                
                <div class="extra">
                    <!--Buttons-->
                    <a class="ui button" href="/lists/<%=list._id%>/edit">Edit</a>
                    
                    <form id="delete" action="/lists/<%=list._id%>?_method=DELETE" method="POST">
                        <button class="ui red button">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".ui.rating").rating("disable");
</script>

<% include ./partials/footer.ejs %>